/* bug: search and weather containers don't create a gap */
/* bug: can't minimize gaps betwee cards */

* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}
body {
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #66a1c5 0%, rgba(93, 163, 220, 0));
    box-shadow: 0 0 1rem 0 rgba(0, 140, 255, 0.3);
    padding: 5px;
}

h1 {
    padding: 13px 0px 5px 0px;
    text-align: center;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
}

img {
    max-width: 50px;
    max-height: 50px;
}

.city-details-container {
    border: 3px rgb(0, 200, 255) solid;
    height: 200px;
}

.forecast-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 120px;
    border: 3px white solid;
}

.search-city, .weather-container {
    /* border: solid white 3px; */
}

.city-list {
    gap: 12px;
}

.city-btn {
    padding: 8px;
}

#city-date {
    display: flex;
    gap: 20px;
}

#date {
    padding-top: 6px;
}

.card-text {
    font-size: x-small;
}